@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Savio de Paiva Macedo<br />
    Juiz de Fora, MG<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:saviom.cedo@hotmail.com">saviom.cedo@hotmail.com</a><br />
</address>
