@{
    ViewData["Title"] = "Home Page";
}
@model List<Entidade.Consulta>
@using Entidade;


<div class="row">
    <div class="panel panel-primary">
        <table class="table">
            <thead>
                <tr>
                    <th>Identificador</th>
                    <th>Nome</th>
                    <th>Data de Criação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Consulta consulta in Model)
                {
                    <tr class="linha-clicavel" data-href="@Url.Action("Ver","Consultas", new { Id = consulta.ID })">
                        <td>@consulta.ID</td>
                        <td>@consulta.NOME</td>
                        <td>@consulta.DT_CRIACAO</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $(".linha-clicavel").click(function ()
        {
            window.location = $(this).data("href");
        });
    });
</script>