@model Projeto_Barbar.Models.ViewModels.Consultas.Cadastro
@{
    ViewData["Title"] = "Cadastrar";
}
<h2>Cadastrar</h2>
<h4>Consulta</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-controller="Consultas" asp-action="CadastrarAsync" method="post" >
            <div class="col-md-9">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Usua_Chave" class="control-label"></label>
                    <input asp-for="Usua_Chave" class="form-control" />
                    <span asp-validation-for="Usua_Chave" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <textarea asp-for="Descricao" style="resize:none;" class="form-control" rows="5" cols="30"></textarea>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="SQL" class="control-label"></label>
                        <textarea asp-for="SQL" style="resize: vertical; min-height: 200px;" rows="10" cols="30" class="form-control"></textarea>
                        <span asp-validation-for="SQL" class="text-danger"></span>
                    </div>
                    <div class="col-md-6" style="margin-top: 2.7%;">
                        <table class="table table-bordered table-hover" id="tab_logic">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        #
                                    </th>
                                    <th class="text-center">Nome</th>
                                    <th class="text-center">Apelido</th>
                                    <th class="text-center">Tipo</th>
                                </tr>
                            </thead>
                            
                            <tfoot>
                                <tr>
                                    <td><button onclick="AtualizarQuadro()" class="btn btn-sm btn-primary">Atualizar Quadro</button></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-lg btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    var parametros = [];
    var total = 0;
    //var quantidadeLinhas = $("#tab_logic tr").length;

    //parametrosRAM.push(bancoDeDados.Parametros);

    function AtualizarQuadro() {
        var regex = /@@(\w+)/g;
        var palavras = $("#SQL").val();
        var array;
        var j;
        var i = total;
        while ((array = regex.exec(palavras)) !== null) {
            //if (parametros.length == 0) {
                parametros[i] = { Nome: array[1] };
                i++;
            /*}
            else {
                for (j = 0; j < parametros.length; j++) {
                    if (parametros[j] == array[1]) {
                        break;
                    }
                    if (j == parametros.length - 1) {
                        parametros[i] = { Nome: array[1] };
                        i++;
                    }
                }
            }*/
            
        }
        refazerTudo();
    }
    function refazerTudo(){
        deletarTudo();
        var tab = document.createElement("tbody");
        tab.id = "tab";
        var i;
        for (i = 0; i < parametros.length; i++) {
            if (parametros[i]) {
                var tabela = document.getElementById("tab_logic");
                var tr = document.createElement("tr");
                var tdPos = document.createElement("td");
                var tdNome = document.createElement("td");
                var tdApelido = document.createElement("td");
                var tdTipo = document.createElement("td");
                var buttonDelete = document.createElement("button");

                var inputApelido = document.createElement("input");
                var selectTipo = document.createElement("select");
                var optionSelect = document.createElement("option");

                optionSelect.appendChild(document.createTextNode("Selecione..."));

                buttonDelete.className = "btn btn-sm btn-danger";
                buttonDelete.setAttribute("onclick", "Deletar(" + i + ")");
                buttonDelete.innerHTML = "Deletar";

                selectTipo.name = "TipoSeletor";
                selectTipo.className = "form-control";
                selectTipo.setAttribute("asp-items", "@(new SelectList(@ViewBag.TipoParametros, "ID", "NOME"))");

                inputApelido.type = "text";
                inputApelido.placeholder = "Apelido";
                inputApelido.className = "form-control input-md";

                tdPos.appendChild(buttonDelete);
                tdPos.align = "center";
                tdNome.innerHTML = parametros[i].Nome;
                tr.id = "addr-" + i;

                selectTipo.appendChild(optionSelect);
                tdTipo.appendChild(selectTipo);
                tdApelido.appendChild(inputApelido);
                tr.appendChild(tdPos);
                tr.appendChild(tdNome);
                tr.appendChild(tdApelido);
                tr.appendChild(tdTipo);
                tab.appendChild(tr);
                tabela.appendChild(tab);

                total++;
            }
        }
    }
    function deletarTudo() {
        var tab = document.getElementById("tab");
        if (tab) {
            tab.remove();
        }
        total = 0;
    }
    function Deletar(id) {
        parametros.splice(id, 1);
        total--;
        document.getElementById("addr-" + id).remove();
        refazerTudo();
    }
    /*function validaParametro(param) {
        var i;
        for (i = 0; i < parametros.length; i++){
            if (parametros[i]) {
                if (parametros[i].Nome == param.Nome) {
                    return false;
                }
            }
        }
        return true;
    }*/

</script>
@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
